{% load static %}
<section data-bs-version="5.1" class="footer4 cid-sYKWhXsMpz" once="footers" id="footer4-9">
    <div class="container">
        <div class="row mbr-white">
            <div class="col-6 col-lg-3">
                <div class="media-wrap col-md-8 col-12">
                    <a href="https://mobiri.se/">
                        <img src="{% static 'assets/images/quizzio-logo-removebg-397x397.png' %}" alt="Mobirise">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>About</strong>
                </h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-4">Quizzio is a free-to-use web application designed
                    to help our hardworking community of future citizens achieve their goals.</p>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-7">
                    <strong>Follow Us</strong>
                </h5>
                <div class="social-row display-7">
                    <div class="soc-item">
                        <a>
                            <span class="mbr-iconfont socicon-discord socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a>
                            <span class="mbr-iconfont socicon-mail socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a>
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a>
                            <span class="mbr-iconfont socicon-linkedin socicon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Quizzio Help</strong>
                </h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">FAQs</li>
                    <li class="mbr-text item-wrap">Forgot Password</li>
                    <li class="mbr-text item-wrap">Rankings and Badges</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Quick Links</strong></h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Code of Conduct</li>
                    <li class="mbr-text item-wrap">Give Quiz</li>
                    <li class="mbr-text item-wrap">View Leaderboard</li>
                    <li class="mbr-text item-wrap">Edit My Profile</li>
                    <li class="mbr-text item-wrap"><br></li>
                    <li class="mbr-text item-wrap"><br></li>
                    <li class="mbr-text item-wrap">Phone: +91 79840 22120</li>
                </ul>
            </div>
        </div>
    </div>
</section>
