{% load static %}

<section data-bs-version="5.1" class="menu pt-0 menu2 cid-sYKBk8JjlF" once="menu" id="menu2-0">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                        <img src="{% static 'assets/images/quizzio-logo-96x96.png' %}" alt="Mobirise"
                            style="height: 3rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" href="/">Quizzio</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <!-- 
                        <li class="nav-item"><a class="nav-link link text-black display-4"
                            href="#footer4-9">About us</a></li>
                    -->
                    <li class="nav-item"><a class="nav-link link text-black display-4"
                            href="/discuss/">Discussions</a></li>
                    <li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle show display-4"
                            href="" data-toggle="dropdown-submenu" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="true">Explore</a>
                        <div class="dropdown-menu show" aria-labelledby="dropdown-undefined" data-bs-popper="none">
                            <a class="text-black dropdown-item display-4" href="/quizHome">All Quizzes</a>
                            {% if user != None and userType == "Organizer" %}
                            <a class="text-black show dropdown-item display-4" href="/showAllQuiz?id={{user.id}}">My Quizzes</a>
                            {% endif %}

                            <!-- <hr style="background-color: transparent;"/> -->
                            <a class="text-black show dropdown-item display-4" href="/Leaderboard">Leaderboard</a>
                            <a class="text-black show dropdown-item display-4"
                                role="button" data-bs-target="#search_bar" data-bs-toggle="modal">Search</a>
                        </div>
                    </li>

                    {% if user != None %}
                    <li class="nav-item"><a href="/accounts/me"><button id="profile_btn" class="border border-1" style="width: 40px; height: 40px; border-radius: 50%;">
                        {% if user.profilePic.url != None %}
                        <img src="{{user.profilePic.url}}" class="w-100" />
                        {% else %}
                        <img src="{% static '../media/images/users/user-def-pic.png' %}" class="w-100" />
                        {% endif %}
                    </button></a></li>
                    {% endif %}
                </ul>

                {% if user == None %}
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-primary display-4" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <span class="mobi-mbri mobi-mbri-login mbr-iconfont mbr-iconfont-btn"></span>Sign in</a>
                </div>
            </div>
            {% else %}
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-secondary display-4" href="/accounts/logoutUser">
                    <span class="mobi-mbri mobi-mbri-login mbr-iconfont mbr-iconfont-btn"></span>Sign out</a>
            </div>
        </div>
        {% endif %}
        </div>
    </nav>
</section>

<div class="modal" id="search_bar" tabindex="-1">
    <div class="modal-dialog h-50">
      <div class="modal-content h-50">
        <div class="modal-header">
          <h5 class="modal-title">Search User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="GET" action="/accounts/getUser">
            {% csrf_token %}
            <input placeholder="Search by email" name="search_email" type="text" class="input-control form-control" id="search_email" required />
          </form>
        </div>
      </div>
    </div>
</div>