{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden | Quizzio</title>
</head>
<body>
    <div style="height: 50vh;">
        <h1>Error! 403 Forbidden.</h1>
        <div style="transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%; padding: 10%; border-radius: 50%; background-color: #F6E3BA;">
        <img style="width: 75%;  background-color: #F6E3BA; display: block; margin: auto auto" src="{% static './images/forbidden.svg' %}" />
        </div>
    </div>
</body>
</html>